
<ion-content [fullscreen]="true">
      
  <div id="container">    
    <ion-icon name="person-circle" size="large"></ion-icon>  
    <form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>    
      
      
        <ion-label stacked>Create new player</ion-label>
      <fieldset>
        <legend>Name</legend>
        <ion-input type="text" [(ngModel)]="nick" name="title" placeholder="User name"></ion-input>             
      </fieldset>
      
      <button ion-button color="blue" type="submit">JOIN</button>
    </form>
  </div>
</ion-content>
